.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: var(--main-green);
    border-bottom: 1px solid var(--main-gray);
}

.header__container {
    display: flex;
    align-items: center;
}

.nav {
    margin-left: auto;

    font-size: 16px;

    @include mq(notDesktop) {
        display: none;
    }

    @include mq(desktop) {
        font-size: 20px;
    }
}

.nav__list {
    display: flex;
}

.nav__item {
    &:not(:last-child) {
        margin-right: 10px;
    }
}

.nav__link {
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 5px;
    padding-right: 5px;

    color: var(--main-gray-light);
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
    transition: background-color var(--animation-duration) var(--animation-timing-function), color var(--animation-duration) var(--animation-timing-function);

    &:hover,
    &:focus {
        background-color: white;
        color: var(--main-green);
    }
}