.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: var(--main-green);
    border-bottom: 1px solid var(--main-gray);
}

.header__container {
    display: flex;
    align-items: center;
}

.menu {
    width: 280px;

    @include mq(tablet) {
        width: 500px;
    }

    @include mq(notDesktop) {
        position: fixed;
        top: 0;
        right: 0;
        z-index: 2;

        height: 100%;

        background-color: var(--main-green);
        border-bottom-left-radius: 50px;

        pointer-events: none;
        transform: translateX(120%);
        transition: transform var(--animation-duration) var(--animation-timing-function);
    }

    @include mq(desktop) {
        width: 100%;
    }

    &.is-open {
        pointer-events: auto;
        transform: translateX(0);
    }
}

.menu__container {
    @include mq(notDesktop) {
        padding-left: 20px;
        padding-right: 20px;
        padding-top: 60px;
        padding-bottom: 20px;
    }

    @include mq(tablet-only) {
        text-align: center;
    }

    @include mq(desktop) {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }
}

.menu__mob-btn-open {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;

    background-color: transparent;

    @include mq(desktop) {
        display: none;
    }
}

.menu__mob-icon-open {
    fill: var(--main-gray-light);
    transition: fill var(--animation-duration) var(--animation-timing-function);

    &:hover,
    &:focus {
        fill: white;
    }
}

.menu__mob-btn-close {
    position: fixed;
    top: 10px;
    right: 10px;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: transparent;

    @include mq(desktop) {
        display: none;
    }
}

.menu__mob-icon-close {
    fill: var(--main-gray-light);
    transition: fill var(--animation-duration) var(--animation-timing-function);

    &:hover,
    &:focus {
        fill: white;
    }
}

.nav__list {
    @include mq(desktop) {
        display: flex;
    }
}

.nav__item {
    @include mq(desktop) {
        
        &:not(:last-child) {
            margin-right: 10px;
        }
    }
}

.nav__link {
    display: block;
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;

    font-size: 28px;
    line-height: 40px;
    text-transform: capitalize;
    color: var(--main-gray-light);

    border-radius: 10px 20px 10px 20px;
    transition: background-color var(--animation-duration) var(--animation-timing-function), color var(--animation-duration) var(--animation-timing-function);

    &:hover,
    &:focus {
        background-color: rgb(235, 235, 235);
        color: var(--main-green);
    }

    @include mq(desktop) {
        padding-top: 10px;
        padding-right: 5px;
        padding-bottom: 10px;
        padding-left: 5px;

        font-size: 20px;

        border-radius: 30px 10px 30px 10px;
    }
}

.lang-menu {
    padding-top: 15px;
    padding-bottom: 15px;
    padding-right: 10px;
    padding-left: 10px;
    
    font-size: 20px;
    color: var(--main-gray-light);
    background-color: transparent;
    border-radius: 10px 20px 10px 20px;
    border: none;
    cursor: pointer;
    transition: background-color var(--animation-duration) var(--animation-timing-function), color var(--animation-duration) var(--animation-timing-function);

    &:hover {
        color: var(--main-green);
        background-color: rgb(235, 235, 235);
    }

    @include mq(notDesktop) {
        margin-top: 20px;
    }

    @include mq(desktop) {
        padding-right: 5px;
        padding-left: 5px;
        
        font-size: 16px;
        border-radius: 30px 10px 30px 10px;
    }
}

.lang-menu__option {
    color: var(--main-gray-light);
    background-color: var(--main-green);
}

.contacts {
    @include mq(notDesktop) {
        margin-top: 20px;
    }
}

.contacts__item {
    &:not(:last-child) {
        margin-bottom: 10px;
    }

    @include mq(desktop) {
        text-align: center;

        &:not(:last-child) {
            margin-bottom: 5px;
        }
    }
}

.contacts__link {
    display: block;
    padding-right: 10px;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;

    font-size: 14px;
    font-weight: 700;
    color: var(--main-gray-light);

    border-radius: 10px 20px 10px 20px;
    transition: background-color var(--animation-duration) var(--animation-timing-function), color var(--animation-duration) var(--animation-timing-function);

    &:hover,
    &:focus {
        background-color: rgb(235, 235, 235);
        color: var(--main-green);
    }

    @include mq(tablet) {
        font-size: 18px;
    }

    @include mq(desktop) {
        padding-top: 5px;
        padding-bottom: 5px;

        font-size: 14px;

        border-radius: 30px 10px 30px 10px;
    }

    &--small {
        @include mq(desktop) {
            font-size: 12px;
        }
    }

    &--big {
        font-size: 20px;

        @include mq(desktop) {
            font-size: 16px;
        }
    }
}