<header class="header">
  <div class="container header__container">
    <a class="logo" href="javascript:void(0);">
      <img class="logo__img logo__img--animate" src="images/logo.png" alt="Logo" width="50" height="50" />
      <span class="logo__text">Albarella Acquacoltura</span>
    </a>
    <nav class="nav">
      <ul class="nav__list">
        <li class="nav__item"><a class="nav__link lng-header-1" href="#header" data-id="header">home</a></li>
        <li class="nav__item"><a class="nav__link lng-header-2" href="#products" data-id="products">products</a></li>
        <li class="nav__item"><a class="nav__link lng-header-3" href="#facilities" data-id="facilities">facilities</a></li>
        <li class="nav__item"><a class="nav__link lng-header-4" href="#about" data-id="about">about</a></li>
        <li class="nav__item"><a class="nav__link lng-header-5" href="#careers" data-id="careers">careers</a></li>
        <li class="nav__item"><a class="nav__link lng-header-6" href="#contacts" data-id="contacts">contacts</a></li>
      </ul>
    </nav>
    <select class="lang-menu">
      <option value="en" selected>EN</option>
      <option value="it">IT</option>
    </select>
    <button
      class="mob-menu__btn-open js-mob-menu-btn-open"
      type="button"
      aria-expanded="false"
      aria-label="mobile-menu-open"
    >
        <svg class="mob-menu__icon-open" width="50" height="50">
            <use href="./images/icons.svg#icon-open-mobile-menu"></use>
        </svg>
    </button>
    <div class="mob-menu js-mob-menu">
      <button
        class="mob-menu__btn-close js-mob-menu-btn-close"
        type="button"
        aria-label="mobile-menu-close"
      >
        <svg class="mob-menu__icon-close" width="50" height="50">
            <use href="./images/icons.svg#icon-close-mobile-menu"></use>
        </svg>
      </button>
      <div class="mob-menu__content container">
        <a class="logo logo--middle" href="javascript:void(0);">
            <img class="logo__img" src="images/logo.png" alt="Logo" width="50" height="50" />
            <span class="logo__text">Albarella Acquacoltura</span>
        </a>
        <ul class="mob-menu__list js-mob-menu-nav">
            <li class="mob-menu__item"><a class="mob-menu__link" href="#header" data-id="header">Home</a></li>
            <li class="mob-menu__item"><a class="mob-menu__link" href="#products" data-id="products">Products</a></li>
            <li class="mob-menu__item"><a class="mob-menu__link" href="#facilities" data-id="facilities">Facilities</a></li>
            <li class="mob-menu__item"><a class="mob-menu__link" href="#about" data-id="about">About</a></li>
            <li class="mob-menu__item"><a class="mob-menu__link" href="#careers" data-id="careers">Careers</a></li>
            <li class="mob-menu__item"><a class="mob-menu__link" href="#contacts" data-id="contacts">Contacts</a></li>
        </ul>
      </div>
    </div>
  </div>
</header>
