<header class="header">
    <div class="container header__container">
        <a class="logo" href="#!">
            <img src="images/logo.png" alt="Logo" width="50" height="50" />
            <span class="logo__text">Albarella Acquacoltura</span>
        </a>
        <nav class="nav">
            <ul class="nav__list">
                <li class="nav__item"><a class="nav__link" href="#!">Home</a></li>
                <li class="nav__item"><a class="nav__link" href="#!">Products</a></li>
                <li class="nav__item"><a class="nav__link" href="#!">Facilities</a></li>
                <li class="nav__item"><a class="nav__link" href="#!">About</a></li>
                <li class="nav__item"><a class="nav__link" href="#!">Careers</a></li>
                <li class="nav__item"><a class="nav__link" href="#!">Contacts</a></li>
            </ul>
        </nav>
    </div>
</header>