<header class="header">
  <div class="container header__container">
    <a class="logo" href="#!">
      <img class="logo__img logo__img--animate" src="images/logo.png" alt="Logo" width="50" height="50" />
      <span class="logo__text">Albarella Acquacoltura</span>
    </a>
    <nav class="nav">
      <ul class="nav__list">
        <li class="nav__item"><a class="nav__link" href="#!">Home</a></li>
        <li class="nav__item"><a class="nav__link" href="#!">Products</a></li>
        <li class="nav__item"><a class="nav__link" href="#!">Facilities</a></li>
        <li class="nav__item"><a class="nav__link" href="#!">About</a></li>
        <li class="nav__item"><a class="nav__link" href="#!">Careers</a></li>
        <li class="nav__item"><a class="nav__link" href="#!">Contacts</a></li>
      </ul>
    </nav>
    <button
      class="mob-menu__btn-open js-mob-menu-btn-open"
      type="button"
      aria-expanded="false"
      aria-label="mobile-menu-open"
    >
        <svg class="mob-menu__icon-open" width="50" height="50">
            <use href="./images/icons.svg#icon-open-mobile-menu"></use>
        </svg>
    </button>
    <div class="mob-menu js-mob-menu">
      <button
        class="mob-menu__btn-close js-mob-menu-btn-close"
        type="button"
        aria-label="mobile-menu-close"
      >
        <svg class="mob-menu__icon-close" width="50" height="50">
            <use href="./images/icons.svg#icon-close-mobile-menu"></use>
        </svg>
      </button>
      <div class="mob-menu__content container">
        <a class="logo logo--middle" href="#!">
            <img class="logo__img" src="images/logo.png" alt="Logo" width="50" height="50" />
            <span class="logo__text">Albarella Acquacoltura</span>
        </a>
        <ul class="mob-menu__list">
            <li class="mob-menu__item"><a class="mob-menu__link" href="#!">Home</a></li>
            <li class="mob-menu__item"><a class="mob-menu__link" href="#!">Products</a></li>
            <li class="mob-menu__item"><a class="mob-menu__link" href="#!">Facilities</a></li>
            <li class="mob-menu__item"><a class="mob-menu__link" href="#!">About</a></li>
            <li class="mob-menu__item"><a class="mob-menu__link" href="#!">Careers</a></li>
            <li class="mob-menu__item"><a class="mob-menu__link" href="#!">Contacts</a></li>
        </ul>
      </div>
    </div>
  </div>
</header>
