.mob-menu {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;

    width: 100vw;
    height: 100vh;

    background-color: var(--main-green);

    pointer-events: none;
    transform: scale(0);
    transition: transform var(--animation-duration) var(--animation-timing-function);

    &.is-open {
        pointer-events: auto;
        transform: scale(1);
    }
}

.mob-menu__btn-open {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;

    background-color: transparent;
    
    @include mq(desktop) {
        display: none;
    }
}

.mob-menu__icon-open {
    fill: var(--main-gray-light);
    transition: fill var(--animation-duration) var(--animation-timing-function);

    &:hover,
    &:focus {
        fill: white;
    }
}

.mob-menu__btn-close {
    position: fixed;
    top: 10px;
    right: 10px;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: transparent;
}

.mob-menu__icon-close {
    fill: var(--main-gray-light);
    transition: fill var(--animation-duration) var(--animation-timing-function);

    &:hover,
    &:focus {
        fill: white;
    }
}

.mob-menu__content {
    padding-top: 40px;
    padding-bottom: 20px;
}

.mob-menu__list {
    margin-top: 20px;
}

.mob-menu__item {}

.mob-menu__link {
    display: block;
    padding: 10px;

    font-size: 28px;
    line-height: 40px;
    color: var(--main-gray-light);
    border-top-left-radius: 10px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 10px;
    transition: background-color var(--animation-duration) var(--animation-timing-function), color var(--animation-duration) var(--animation-timing-function);

    &:hover,
    &:focus {
        background-color: rgb(235, 235, 235);
        color: var(--main-green);
    }
}